body { 
    background-color: #666768;
}


/*
    ---- ---- ---- Error page ---- ---- ---- 
*/
#error-component-container {
    text-align: center;
}

#error-img-logo {
    width: 400px;

}
/*
    ---- ---- ---- Home page ---- ---- ---- 
*/

#home-page-container { 
    text-align: center;
}
#home-title {
    margin-top: 0;
    font-weight: 400;
}


#home-img-logo { 
    width: 350px;
}

#searchbar-container {
    display: inline-block;
}

#searchbar-textfield {
}

#searchbar-icon {
    margin-top: 20px;
}


/*
    ---- ---- ---- Search page ---- ---- ---- 
*/


#user-icon {
    width: 200px;
}
