body {
    background-color: #f0f0f0;
    color: #464646;
}

#root {
    overflow: auto;
    white-space: nowrap;
}

#app {
    text-align: center;
    width: 100%;
}

.main-heading {
    text-align: left;
}

.green {
    color: #49963b;
}
.red {
    color: #ca3431;
}

.blue {
    color: #1268b5;
}
/*
    ---- ---- ---- Home page ---- ---- ---- 
*/

#home-page-container {
    text-align: center;
}
#home-title {
    margin-top: 0;
    font-weight: 400;
}

#home-img-logo {
    padding-top: 5%;
    width: 350px;
}

#searchbar-container {
    display: inline-block;
}

#searchbar-icon {
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    #home-img-logo {
        width: 250px;
    }
    #searchbar-textfield {
        width: 200px;
    }
}

/*
    ---- ---- ---- Search page ---- ---- ---- 
*/

#header {
    background-color: #dfdfde;
}

#search-page-container {
    overflow: hidden;
    display: inline-block;
    padding-top: 100px;
    height: 1000px;
    width: 1200px;
}

/*
    User Component
*/

#user-component-container {
    border-radius: 8px;
    background-color: #dfdfde;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 1200px;
}

#user-image {
    width: 200px;
    padding: 20px;
    filter: opacity(70%);
}

#user-icons-container {
    padding-top: 80px;
    text-align: center;
    width: 400px;
}

#user-country-image {
    width: 40px;
    border-radius: 8px;
}

.user-ul {
    list-style: none;
    padding-left: 0;
}

.user-li-sub-header {
    font-size: 12px;
    color: #4c4c4c;
}

#user-span-header {
    font-size: 40px;
    font-weight: 700;
    color: #191919;
}

#user-details {
    padding-top: 20px;
}

#user-searchbar {
    padding-top: 10px;
    padding-right: 30px;
    float: right;
}

/*
    Match History Component
*/

#match-component-container {
    border-radius: 8px;
    background-color: #dfdfde;
    height: 800px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    margin-left: 20px;
}

/* 
    Stats Component
*/

#stats-component-container {
    border-radius: 8px;
    height: 800px;
    text-align: left;
    background-color: #dfdfde;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
}

.stats-ul {
    list-style: none;
}

.stats-list-heading {
    font-size: 18px;
}

.stats-info {
    text-align: right;
}
/*
    ---- ---- ---- Error page ---- ---- ---- 
*/
#error-component-container {
    padding: 8%;
    text-align: center;
}

#error-img-logo {
    width: 300px;
}
