body { 
    background-color: #f0f0f0;
    color:#464646;
}

/*
    ---- ---- ---- Home page ---- ---- ---- 
*/

#home-page-container { 
    text-align: center;
}
#home-title {
    margin-top: 0;
    font-weight: 400;
}


#home-img-logo { 
    width: 350px;
}

#searchbar-container {
    display: inline-block;
}

#searchbar-textfield {
}

#searchbar-icon {
    margin-top: 20px;
}


/*
    ---- ---- ---- Search page ---- ---- ---- 
*/

#search-page-container {
    padding: 30px;
}

#user-icon {
    width: 250px;
}

.user-ul { 
    list-style: none;
    padding-left: 0;
}

.user-li-header {
    font-size: 40px;
}

.user-li-sub-header {
    font-size: 12px;
    color:#4c4c4c;
}

#user-span-header {
    color:#191919
}

/*
    ---- ---- ---- Error page ---- ---- ---- 
*/
#error-component-container {
    text-align: center;
}

#error-img-logo {
    width: 400px;
}

